<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ml-3 mr-3 hvr-underline-from-center" href="#"
                id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Items
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'all_items' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'all_items' %}?sort=brand&direction=asc" class="dropdown-item ">By Brand (A-Z)</a>
                <a href="{% url 'all_items' %}" class="dropdown-item">All Watches & Chains</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black ml-3 mr-3 hvr-underline-from-center" href="#"
                id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'all_items' %}?item_cat=Sekonda" class="dropdown-item">Sekonda</a>
                <a href="{% url 'all_items' %}?item_cat=Casio" class="dropdown-item">Casio</a>
                <a href="{% url 'all_items' %}?item_cat=Tommy Hilfiger" class="dropdown-item">Tommy Hilfiger</a>
                <a href="{% url 'all_items' %}?item_cat=Sekonda,Casio,Tommy Hilfiger" class="dropdown-item">All
                    Watches</a>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link text-black ml-3 mr-3 hvr-underline-from-center" href="#"
                id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chains
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'all_items' %}?item_cat=Silver" class="dropdown-item">Silver</a>
                <a href="{% url 'all_items' %}?item_cat=Gold" class="dropdown-item">Gold</a>
                <a href="{% url 'all_items' %}?item_cat=Silver,Gold" class="dropdown-item">All Chains</a>
            </div>
        </li>
    </ul>
</div>